<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/grid.css" />
  </head>

  <body>
    <header class="header">
      <div class="container logo-nav-container">
        <a href="#" class="logo">LOGO</a>
        <nav class="navigation">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="mysql.html">Mysql</a></li>
            <li><a href="access.html">Access</a></li>
            <li><a href="multimedia.html">Multimedia</a></li>
            <li><a href="contactenos.html">Contactenos</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main">
      <div class="container">
        <br />
        <h1>Base de Datos ACCESS</h1>
        <br />
        <p>
            Podemos definir Access como una herramienta para la administración de bases de 
            datos relacionales.
            En su forma más simple, una base de datos es una colección de datos
            relacionados a un tema particular, una lista de datos. Cuando se efectúa una lista 
            de direcciones, nombres, productos, se está generando una base de datos. De
            hecho, no es necesario usar un programa de bases de datos para crear una: se 
            podría estar haciendo una lista como la que acabamos de mencionar usando
            Excel, Word o (incluso) el Bloc de notas
        </p>
        <img class="img1" src="../img/PowerAccess-Screenshot-Query Design SQL.png" alt="" srcset="" />
        <br />
        <br />
        
        <p>
            Sin embargo, un programa de administración de bases de datos, es mucho más 
            potente que la lista realizada en un documento de Word, pues permite:
        </p>
        

        <ul>
            <li><b>Almacenar datos:</b>  una base de datos almacena datos relacionados con 
                un asunto o propósito particular (por ejemplo, una lista de recetas o los 
                clientes de una empresa); también facilita las tareas de agregar, actualizar, 
                organizar y eliminar datos.</li>
            <li><b>Buscar datos:</b> puede ubicarse un dato fácil y rápidamente. Por ejemplo, 
                buscar los clientes de apellido "Gómez" que residan en la localidad cuyo 
                código postal es 1200</li>
            <li><b>Analizar e imprimir información:</b> se pueden realizar cálculos con los 
                datos almacenados en la base de datos; por ejemplo, calcular qué
                porcentaje de las ventas totales fue realizado en la provincia de Chubut.</li>
            <li><b>Manejar datos:</b> una base de datos permite manejar con relativa facilidad 
                grandes volúmenes de datos, por ejemplo cambiar el encargado de ventas 
                de todos los clientes de una zona</li>
            <li><b>Compartir datos:</b> la mayoría de los programas de bases de datos 
                permiten que más de un usuario acceda simultáneamente a los mismos 
                datos; los denominaremos bases de datos multi-usuario.</li>
            
        </ul>

        <br>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p>© 2021 Copyright: Todos los derecho reservados</p>
      </div>
    </footer>
  </body>
</html>
